{
  "alphavantage_key": "ALPHAVANTAGE.CO_KEY",
  "feedback_channel_id": "CHANNEL_ID",
  "genius_api_key": "GENIUS_API_KEY",
  "google_api_key": "GOOGLE_API_KEY_WITH_YT_DATA_V3_AND_PERSPECTIVE_APIS",
  "openweathermap_key": "OPENWEATHERMAP.ORG_API_KEY",
  "owner_id": "YOUR_DISCORD_USER_ID_HERE",
  "prefix": "COMMAND_PREFIX",
  "rapidapi_key": "RAPIDAPI.COM_KEY",
  "token": "DISCORD_BOT_TOKEN",
  "trn_api_key": "TRACKER.GG_API_KEY"
}
