name: lint
on: [push, pull_request]
jobs:
  eslint:
    name: ESLint
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 16, 17, 18 ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
         version: 7.9.0
         
      - name: Install Node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Run ESLint
        run: pnpm lint